* {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;

    position: relative;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
    padding: 0;
}

.worker-bg {
    background-image: url('/images/mascote.png');
    background-size: cover;
    position: absolute;
    width: 450px;
    right: 0%;
    bottom: 0;
    height: 450px;
}



.alter-mascot {
    background-image: url('/images/mascote-cruzado.png');
}

.work-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 20%;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-orcamento-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    right: 20px;
    background-color: rgb(37, 211, 102);
    border-radius: 100px;
    bottom: 20px;
    z-index: 10000;
    box-shadow: 0px 0px 10px rgb(35, 192, 93);
}

.content-divider {
    width: 10%;
    margin: 1% 0% 1% 0%;
    height: 2px;
    background-color: rgba(255, 136, 0, 1);
}

.button-orcamento-container a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    margin-bottom: 0;
    padding: 1%;
}

.target {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s ease-in-out;
}

.fade-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.5s ease-in-out;
}

.lazyload-1 {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s
}

.lazyload-2 {
    opacity: 0;
    transition: 0.5 ease-in-out;
    transition-delay: 2s
}

.visible {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
}

.button-orcamento-container i {
    color: white;
}

.upper-header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 5px;
    font-size: 0.8em;
    background-color: rgb(0, 25, 71);
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 9999;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-container {
    display: flex;
    width: 45%;
    height: 100%;
}

.video-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.details-container {
    display: flex;
    width: 45%;
    height: 100%;
    background-color: red;
}

.bg-presentation {
    background-image: url('/images/bgImage-presentation.png');
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: left;
}

.bg-presentation * {
    z-index: 0;
}

.spacing-text p {
    font-family: "Poppins", sans-serif;
    max-width: 50%;
    font-size: 1.2em;
}

.work-content {
    position: absolute;
    left: 0%;
    padding: 15px;
    top: 20%;
    display: flex;
    align-items: left;
    margin:5px  2% ;
    z-index: 99999;
}


.spacing-text {
    z-index: 1;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    text-shadow: none;
    position: absolute;
    left: 4%;
    padding: 0% 30px;
    max-height: 80%;
}

.absolute-element {
    position: absolute;
}

.whatsapp-invite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    left: 4%;
    padding: 0% 30px;
    z-index: 999;
}

.whatsapp-invite-button {
    position: relative;
    gap: 10px;
    display: flex;
    background-color: rgb(37, 211, 102);
    border: 2px solid rgb(42, 238, 114);
    color: white;
    padding: 7px 15px;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    font-size: 0.8em;
    border-radius: 30px;
    cursor: pointer;
    transition: border 0.3s ease;
}

.whatsapp-invite-button:hover {
    border: 2px solid rgb(21, 116, 56);
}

.whatsapp-invite-button:hover::before {
    width: 100%;
}

.whatsapp-invite-button::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(32, 175, 85);
    transition: width 0.5s ease;
}

.spacing-text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    width: fit-content;
    font-style: normal;
    font-size: 3em;
    margin: 0px;

}

.prefix-text {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 1em;
    margin: 0px;
}



.menu-container-mobile,
.menu-collapse-container {
    display: none;
}

.fade-bg {
    background-image: -moz-linear-gradient(to right, rgba(16, 82, 180, 1) 20%, rgba(255, 164, 46, 0) 100%);
    background-image: -webkit-linear-gradient(to right, rgba(16, 82, 180, 1) 20%, rgba(255, 164, 46, 0) 100%);
    background-image: linear-gradient(to right, rgba(16, 82, 180, 1) 20%, rgba(255, 164, 46, 0) 100%);
    position: absolute;
    width: 70%;
    top: 0;
    max-height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.menu-links-desktop {
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: 500;
    margin-right: 20px;
}

.menu-links-desktop a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
}

.menu-links-desktop a:hover {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(16, 82, 180);
    height: 100%;
}

.content-container {
    display: flex;
    height: fit-content;
    width: 100%;
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

.vh-75 {
    height: 75vh;
}

.vh-70 {
    height: 70vh;
}

.vh-50 {
    height: 50vh;
}

.vh-25 {
    height: 25vh;
}

.vh-10 {
    height: 10vh;
}


.general-section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px 10%;
    padding: 5% 0%;
    gap: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bg-work {
    position: relative;
    overflow: hidden;
    width: 100%;
    color: white;
    padding: 0;
}

.bg-work-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: carrossel-img 40s linear infinite alternate;
}

@keyframes carrossel-img {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.about-item {
    width: 45%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    height: 70px;
    width: 70px;
}

.about-item img {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    gap: 20px;
    width: 100%;
}

.blog-card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.blog-card:hover .img-blog-wrapper img {
    transform: scale(1.1);
}

.img-blog-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 5px
}

.img-blog-wrapper img {
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blog-title {
    font-size: 1.05em;
    color: #333;
    margin: 0;
    margin-top: 5px;
}

.blog-description {
    font-size: 0.9em;
    color: #666;
    flex-grow: 1;
}

.read-more {
    text-decoration: none;
    color: rgba(16, 82, 180, 1);
    font-weight: bold;
}

.general-title {
    font-size: 2.3em;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color: rgba(16, 82, 180, 1);
    font-weight: 800;
    font-style: normal;
}

.wrap-squares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    gap: 10px;
}

.square-item {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.square-item p {
    width: 70%;
}

@media (max-width: 768px) {

    .blog-container {
        justify-content: center;
    }

    .worker-bg {
        display: none;
    }


    .general-section {
        padding: 10% 0%;
        margin: 0px 5%;
        flex-direction: column;
    }

    .about-item {
        width: 100%;
    }

    nav {
        justify-content: flex-start;
        height: 70px;
    }

    .menu-links-desktop {
        display: none;
    }

    .bg-presentation {
        background-image: url('/images/bgImage-presentation-center.png');
        height: 60vh;
        align-items: center;
        padding: 0 10px;
    }

    .content-divider {
        align-self: center;
    }

    .fade-bg {
        background-image: -moz-linear-gradient(to bottom, rgba(16, 82, 180, 1) 20%, rgba(255, 164, 46, 0) 100%);
        background-image: -webkit-linear-gradient(to bottom, rgba(16, 82, 180, 1) 20%, rgba(255, 164, 46, 0) 100%);
        background-image: linear-gradient(to bottom, rgba(16, 82, 180, 1) 20%, rgba(255, 164, 46, 0) 100%);
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .spacing-text {
        left: 0%;
        top: 60px;
    }

    .spacing-text p,
    .prefix-text {
        font-family: "Poppins", sans-serif;
        max-width: 100%;
        font-size: 0.8em;
    }

    .whatsapp-invite-container {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .button-orcamento-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        right: 20px;
        background-color: rgb(37, 211, 102);
        border-radius: 100px;
        bottom: 20px;
        z-index: 10000;
    }

    .menu-collapse-container {
        display: flex;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: -100%;
        z-index: 9999;
        position: absolute;
        z-index: 1;
        transition: left 0.3s ease;
    }

    .no-scroll {
        overflow: hidden;
    }

    .shadow-menu {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .menu-ativo {
        left: 0px;
        visibility: visible;
        transition: left 0.3s ease, opacity 0.4s ease;
        opacity: 1;
        z-index: 9999;
    }

    .menu-collapse-content {
        width: 50%;
        border-bottom-right-radius: 100px;
        height: fit-content;
        display: flex;
        position: absolute;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
        z-index: 9999;
        box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    .menu-links-container {
        color: rgb(0, 0, 0);
    }

    .menu-links-container ul {
        padding: 0;
    }

    .menu-link,
    a {
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        padding: 0px 0px 0px 10px;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .upper-header {
        display: none;
    }

    .exit-icon-container {
        width: 100%;
        height: 5vh;
        border: none;
        background-color: transparent;
        padding: 0px 0px 0px 15px;
        display: flex;
        color: black;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .logo-container {
        margin-left: 10%;
    }

    .menu-container-mobile {
        color: black;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        border: none;
        background-color: transparent;
        font-size: 1.3em;

    }
}