* {
    box-sizing: border-box;
}

textarea {
    resize: none;
}



html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 25px;
    width: 100%;
    min-height: 100%;
    position: relative;
    padding: 0;
}

/* 1.1 utilitários*/




.content-divider {
    width: 10%;
    margin: 1% 0% 1% 0%;
    height: 2px;
    background-color: rgb(255, 136, 0);
}


/* 2. layout principal*/

.upper-header {
    color: white;
    background-color: rgb(12, 38, 87);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 0.8em;
    transition: transform 0.4s ease-in-out;
}


nav {
    background-color: white;
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease-in-out;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(/images/bg-footer.png);
    background-size: cover;
    width: 100%;
    height: auto;

}

.wrap-footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
}



.communication-items-wrapper {
    display: flex;
    gap: 15px;
}

.communication-section {
    width: 100%;
}

.communication-channels {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.communication-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.communication-item i {
    padding: 10px;
}

.communication-item a {
    color: white;
    text-decoration: none;
}

.content-container {
    display: flex;
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}

.general-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0%;
    padding: 0px 10%;
    gap: 40px;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.bg-presentation {
    display: flex;
    background-image: url('/images/bgImage-presentation.png');
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 70vh;
    padding: 105px 5%;
    text-align: left;
}

.back-btn {
    margin: auto;
    display: flex;
    flex-grow: 1;
    display: none;
}

.bg-presentation * {
    z-index: 0;
}

.worker-bg {
    background-image: url('/images/mascote.png');
    background-size: cover;
    position: absolute;
    width: 450px;
    right: 0%;
    bottom: 0;
    height: 450px;
}

.alter-mascot {
    background-image: url('/images/mascote-cruzado.png');
}

.fade-bg {
    background-image: linear-gradient(to right, rgb(3, 46, 110) 20%, rgba(3, 46, 110, 0) 100%);
    position: absolute;
    width: 70%;
    top: 0;
    max-height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.bg-work-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    object-fit: cover;
    animation: carrossel-img 40s linear infinite alternate;
}

/* 2.1 botoes para contato */
.button-orcamento-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    right: 20px;
    background-color: rgb(35, 189, 92);
    border-radius: 100px;
    bottom: 20px;
    font-size: 2.5em;
    z-index: 10000;
    box-shadow: 0px 0px 10px rgb(35, 192, 93);
}

.button-orcamento-container a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    margin-bottom: 0;
    padding: 1%;
}

.button-orcamento-container i {
    color: white;
}

.whatsapp-invite-button {
    position: relative;
    display: flex;
    background-color: rgb(35, 189, 92);
    border: 2px solid rgb(41, 214, 104);
    color: white;
    padding: 7px 15px;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    font-size: 0.8em;
    border-radius: 30px;
    cursor: pointer;
    transition: border 0.3s ease;
}


.whatsapp-invite-button p {
    margin: 0;
}

.whatsapp-invite-button:hover {
    border: 2px solid rgb(21, 116, 56);
}

.whatsapp-invite-button:hover::before {
    width: 100%;
}

.whatsapp-invite-button::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(32, 175, 85);
    transition: width 0.5s ease;
}

.whatsapp-invite-container {
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;

    padding: 0% 30px;
}

/* 2.2 logo e nav */
.logo-container {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.logo-container-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.logo-container-footer img {
    object-fit: contain;
    width: 150px;
    height: 150px;
}


.logo {
    height: 70px;
    width: 70px;
}

.menu-links-desktop {
    margin: auto;
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: 500;

}

.menu-links-desktop a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: 100%;
}

.menu-links-desktop a:hover {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 64, 160);
    height: 100%;
}

.menu-container-mobile,
.menu-collapse-container {
    display: none;
}

/* 3. conteúdos textuais*/
.general-title {
    font-size: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: rgba(16, 82, 180, 1);
    font-weight: 800;
    font-style: normal;
}

.spacing-text {
    z-index: 1;
    display: block;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: 0% 30px;
    margin: auto;
    width: 100%;
}

.spacing-text p {
    font-family: "Poppins", sans-serif;
    max-width: 50%;
    font-size: 1.2em;

}

.spacing-text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    width: fit-content;
    font-style: normal;
    font-size: 3em;
    margin: 0px;
}

.complement-text {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    font-weight: 200;
    letter-spacing: 3px;
    width: fit-content;
    text-align: center;
    font-size: 1em;
}



.work-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    z-index: 99999;
    height: auto;
}

.work-text {
    display: flex;
    height: 100%;
    z-index: 999999999;
    flex-direction: column;
    align-items: center;
    margin: 30px 0%;
    text-align: center;
    overflow: hidden;
}

/* 3.1 componentes da seção */
.about-item {
    width: 45%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.about-item img {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

.details-container {
    display: flex;
    width: 45%;
    height: 100%;
}

.whatsapp-invite-button a {
    height: 100%;
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.whatsapp-invite-button a:hover {
    color: white;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    gap: 20px;
    width: 100%;
}

.blog-card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.blog-card:hover .img-blog-wrapper img {
    transform: scale(1.1);
}

.img-blog-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 5px
}

.img-blog-wrapper img {
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blog-title {
    font-size: 1.05em;
    color: #333;
    margin: 0;
    margin-top: 8px;
    font-weight: 600;
    margin-bottom: 8px;
}

.blog-description {
    font-size: 0.9em;
    color: #666;
    flex-grow: 1;
}

.read-more {
    text-decoration: none;
    color: rgba(16, 82, 180, 1);
    font-weight: bold;
    padding: 0;
}

.wrap-squares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    gap: 10px;
}

.square-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    min-height: 70px;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(15px);
    color: white;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.1);
}


.square-item p {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1em;
    width: 70%;
    text-align: center;
    font-weight: 500;
    margin: 0px 5%;
    margin-left: 10px;

}

.footer-divider {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 100%;
    padding: 0% 50px;
    height: auto;
    justify-self: flex-end;
    margin: auto;
}

.wrapper-communication-channels {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-form {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
}

.float-flex-right {
    justify-self: flex-end;
}

.form-contact {
    width: 100%;
    padding: 0px 20px;
    color: black;
}

.form-contact input,
.form-contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;

}

.form-contact button {
    background-color: green;
    border: none;
    color: white;
    padding: 2%;
}

.regions-attended {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: auto;
}

.work-medal {
    right: -2%;
    color: black;
    top: -10%;
    padding: 2%;
    background: gold;
    box-shadow: 0px 0px 30px rgba(255, 215, 0, 1);
    font-size: 1.2em;
    border-radius: 50%;
    animation: kick 2s infinite alternate ease-in-out;
}



.services-text {
    display: block;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}

.services-text p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}


.alter-square {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(16, 82, 180, 1);
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.3);
}

.alter-square i {
    color: rgba(16, 82, 180, 1);
}

@keyframes kick {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }

}


.left-content {
    display: flex;
    align-items: left;
    justify-content: left;
}

/* 4 animacoes */
.target {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s ease-in-out;
}

.fade-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: 1s ease-in-out;
}

.fade-right {
    opacity: 0;
    transform: translateX(100px);
    transition: 1s ease-in-out;
}

.lazyload-1 {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s
}

.lazyload-2 {
    opacity: 0;
    transition: 0.5 ease-in-out;
    transition-delay: 2s
}

.visible {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
}



.heavy-element {
    color: white;
    margin-top: 30px;
    background-color: rgb(35, 189, 92);
    padding: 15px;
    border: 2px solid rgb(37, 211, 102);
    border-radius: 50px;
    width: fit-content;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
}


.alter-wrap-squares {
    width: 100%;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
}

/* Container de cards na página de serviços */
.services-page-squares {
    grid-template-columns: repeat(2, 1fr);
    color: black;
    gap: 20px;
    width: 100%;
}

.services-page-squares .square-item.service-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgba(16, 82, 180, 1);
    background-color: transparent;
    color: black;
    padding: 15px;
    box-shadow: none;
}

.service-item h3 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
}

.service-item p {
    font-size: 0.9em;
    margin: 0;
    text-align: left;
    width: 100%;
}

.service-item i {
    color: rgba(16, 82, 180, 1);
    margin-right: 15px;
}

.service-details {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.services-page-squares .last-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: radial-gradient(circle, rgba(3, 46, 110, 0.7), rgb(11, 56, 122));
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(73, 146, 255);
    justify-content: space-between;
    box-shadow: none;
}

.services-page-squares .last-item p {
    font-size: 1.2em;
    color: white;
    width: auto;
}

.services-page-squares .last-item i {
    color: white;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.last-item i {
    color: white;
    transform: translateX(-30px);
    margin-left: 10px;
}

.last-item:hover i {
    transform: translateX(0px);
    color: white;
}


.works-concluded {
    padding: 30px;
    color: white;
    overflow: hidden;
    background: rgb(3, 46, 110);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

.works-concluded .prefix-text {
    margin: 0;
}

.works-concluded-wrapper {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    margin-top: 130px;
}

.carousel-caption {
    background: #3d5197;
    width: 100%;
    left: 0;
    height: 130px;
    bottom: 100%;
    padding: 1%;
}

.carousel-item .col-md-4 {
    height: 60vh;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-element {
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.push-bottom {
    margin-bottom: 40px;
}

.info-gallery {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

.location-gallery {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(255, 255, 255, 0.452);
    justify-content: center;
}

/*styles da pagina de serviços*/
.bg-service {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg-footer.png');
    height: 300px;
    width: 100%;
    margin-top: 105px;
    padding: 3%;
}

.bg-repeat-service {
    background-image: url('/images/bg-repeat-services.png');
    background-repeat: repeat;
    background-size: 120px 120px;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

.services-wrapper {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    width: 100%;
    height: 100%;
}

.services-page-item {
    display: flex;
    flex-direction: column;
    height: auto;
    color: black;
    text-decoration: none;
}

.services-page-item:hover {
    color: black;
    text-decoration: none;
}

.img-service-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.img-service-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-item-title {
    width: fit-content;
    margin: auto;
    font-size: 1.2em;
    font-weight: 600;
    padding: 2% 0px;
    transition: color .2s ease;
}


.services-page-item:hover .service-item-title {
    color: rgb(255, 136, 0);
    text-decoration: none;
}

.img-container-fixa {
    height: 600px;
}

.service-item-p {
    color: rgb(54, 54, 54);
}

.copyright {
    margin-top: 60px;
}

.blog-page {
    justify-content: center;
    padding: 0 30px;
    margin: 30px 0;
}

.form-commentary-wrapper {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    max-width: 500px;
}

.grid-container {
    flex-grow: 1;
    display: grid;
    margin: 30px 0;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.post-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: "Poppins", sans-serif;
    color: #222;
    margin-top: 105px;
    margin-bottom: 100px;
}

.post-wrapper {
    max-width: 850px;
    width: 100%;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    padding: 20px;
    margin-top: -100px;
    position: relative;
}


.post-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 25px;
    text-align: left;
}

.post-date {
    font-size: 0.95rem;
    color: #777;
    margin-bottom: 30px;
}

.post-content {
    font-size: 1.05rem;
    line-height: 1.8;
    color: #333;
}

.post-content strong {
    font-size: 1.05rem;
    line-height: 1.8;
    color: rgb(46, 105, 214);
}

.post-content p {
    margin-bottom: 25px;
}

.post-content h2 {
    margin-bottom: 5px;
    font-size: 1.30em;
    font-weight: 600;
}

.post-content img {
    width: 100%;
    border-radius: 12px;
    margin: 25px 0;
}

.image-credit-link {
    font-size: 0.85em;
}

.wrap-suggestions {
    position: relative;
    overflow: visible;
    padding-left: 8px;
    border-radius: 0;
}

.wrap-suggestions::before {
    position: absolute;
    content: '';
    background-color: rgb(16, 82, 180);
    height: 100%;
    overflow: visible;
    left: 0;
    width: 4px;
}

.left-suggestions * {
        border-radius: 0;
}

@keyframes carrossel-img {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.whatsapp-split-link-class {
    margin: 0;
}

@media (max-width: 768px) {



    .form-contact {
        width: 100%;
    }

    .img-container-fixa {
        height: 200px;
    }

    .communication-channels {
        align-items: flex-start;
    }

    .carousel-caption {
        padding: 2%;
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
    }

    .carousel-caption h4 {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
    }

    .services-page-squares {
        grid-template-columns: 1fr;
    }



    .worker-bg {
        display: none;
    }

    .general-section {
        padding: 0% 2%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-item {
        width: 100%;
    }

    .footer-divider {
        padding: 30px;
        grid-template-columns: 1fr;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        z-index: 9990;
        background-color: transparent;
        backdrop-filter: blur(0px);
        box-shadow: none;
        border: none;
        width: 100%;
        z-index: 1000;
        height: 60px;
        justify-content: space-between;
    }

    .general-title {
        justify-content: center;
    }

    .grid-container {
        gap: 1rem;
    }

    .upper-header {
        display: none;
    }

    .logo {

        width: 60px;
        height: 60px;
    }

    .menu-links-desktop {
        display: none;
    }

    .bg-presentation {
        background-image: url('/images/bgImage-presentation-center.png');
        align-items: center;
        padding: 0 10px;
    }

    .content-divider {
        align-self: center;
    }

    .heavy-element {
        font-size: 90%;
        margin-top: 20%;
    }



    .fade-bg {
        background-image: linear-gradient(to bottom, rgb(3, 46, 110) 20%, rgba(3, 46, 110, 0) 100%);
        width: 100%;

    }


    .logo-container {
        display: none;
    }

    .logo-container-mobile {
        width: fit-content;
    }




    .spacing-text {
        left: 0%;
        top: 60px;
    }

    .spacing-text p,
    .prefix-text {
        font-family: "Poppins", sans-serif;
        max-width: 100%;
        font-size: 0.8em;
    }

    .whatsapp-invite-container {
        margin-bottom: 40px;
        align-self: stretch;
        justify-content: center;
    }

    .button-orcamento-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        right: 20px;
        background-color: rgb(37, 211, 102);
        border-radius: 100px;
        bottom: 20px;
        z-index: 10000;
    }

    .menu-collapse-container {
        display: flex;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: -100%;
        z-index: 9999;
        position: absolute;
        transition: left 0.3s ease;
    }

    .no-scroll {
        overflow: hidden;
    }

    .shadow-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .wrapper-communication-channels {
        max-width: 100%;
    }

    .menu-ativo {
        left: 0px;
        visibility: visible;
        transition: left 0.3s ease, opacity 0.4s ease;
        opacity: 1;
        z-index: 9999;
    }

    .menu-collapse-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;
        width: 50%;
        border-bottom-right-radius: 20px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3);
    }

    .menu-links-container {
        color: rgb(0, 0, 0);
    }

    .menu-links-container ul {
        padding: 0;
    }

    .menu-link {
        font-size: 1.1em;
        color: black;
        padding: 0px 0px 0px 10px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-left: 20px
    }

    .menu-link a {
        position: relative;
        font-size: 1.1em;
        text-decoration: none;
        color: black;
        padding: 0px 0px 0px 10px;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-left: 20px
    }

    .menu-link a::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        left: -2px;
        background-color: rgb(48, 84, 201);
    }

    footer a {
        margin: 0;
        padding: 0;
    }

    .exit-icon-container {
        width: 30%;
        height: 5vh;
        border: none;
        background-color: transparent;
        padding: 0px 0px 0px 15px;
        display: flex;
        color: black;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .logo-container {
        margin-left: 10%;
    }

    .menu-container-mobile {
        color: black;
        display: flex;
        position: fixed;
        align-items: center;
        margin: 10px;
        border: none;
        padding: 20px 10px;
        font-size: 1.3em;
    }

    .blog-container {
        grid-template-columns: repeat(auto-fit, min(100%));
        justify-items: center;
    }

    .bg-work>.general-section.left-content {
        display: block;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .back-btn {
        font-weight: 800;
        display: flex;
    }

    .content-container {
        margin-top: 0;
    }

    .left-suggestions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-suggestions * {
        width: 100%;
        border-radius: 0;
    }

}